<!DOCTYPE html>
<html>

<!-- Mirrored from nafplann.bulma-admin.dev/datatables by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2019 05:38:01 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>

    <meta charset="UTF-8">
    <meta name="description" content="Free Admin Dashboard Template Build with Bulma.io By nafplann">
    <meta name="keywords" content="Bulma,CSS,Admin,Template,Free,Download">
    <meta name="language" content="en-EN">
    <meta name="author" content="Abdul Manaaf">

    <link href="https://fonts.googleapis.com/icon?family=Poppins" rel="stylesheet">
    <link rel="stylesheet"
        href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <!-- START NAV -->
    <nav class="navbar columns is-fixed-top" role="navigation" aria-label="main navigation" id="app-header">
        <div class="navbar-brand column is-2 is-paddingless">
            <a class="navbar-item" href="index.html">
                ADMIN
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="touchMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="touchMenu">

        </div>

        <div id="navMenu" class="navbar-menu column is-hidden-touch">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="button is-white" onclick="logout()">
                        <span class="icon">
                            <i class="fa fa-lg fa-power-off"></i>
                        </span>
                    </a>
                </div>
                <div class="navbar-item has-dropdown">
                    <a class="navbar-link">
                        <figure class="image avatar is-32x32">
                            <img class="is-rounded" src="images/user1.png">
                        </figure>
                        &nbsp; Hi, nafplann
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item">
                            Overview
                        </a>
                        <a class="navbar-item">
                            Elements
                        </a>
                        <a class="navbar-item">
                            Components
                        </a>
                        <hr class="navbar-divider">
                        <div class="navbar-item">
                            Version 0.7.1
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav> <!-- END NAV -->

    <div class="columns" id="app-content">
        <div class="column is-2 is-fullheight is-hidden-touch" id="navigation">
            <aside class="menu">
                <ul class="menu-list">
                    <li>
                        <a class="" href="/users-page">
                            <span class="icon">
                                <i class="fa fa-table"></i>
                            </span> Users
                        </a>
                    </li>
                    <li>
                        <a class="" href="/products-page">
                            <span class="icon">
                                <i class="fa fa-table"></i>
                            </span> Products
                        </a>
                    </li>
                </ul>
            </aside>
        </div>

        <div class="column is-10" id="page-content">
            <div class="content-body">
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <p class="title is-4"><%= result[1] %> </p>
                                <% result[0].forEach(title => { %>
                                    <div class="field">
                                        <label class="label"><%= title %> </label>
                                        <div class="control">
                                            <input type="text" class="input is-primary" value="">
                                        </div>
                                    </div>
                                <% }) %>
                                <div class="buttons">
                                    <button onclick="create('/<%= result[1].toLowerCase() %>')" class="button is-success">
                                        <span class="icon is-small">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <span>Save</span>
                                    </button>
                                    <button onclick="document.location='/<%= result[1].toLowerCase() %>s-page'" class="button is-danger is-outlined">
                                        <span class="icon is-small">
                                            <i class="fa fa-times"></i>
                                        </span>
                                        <span>Cancel</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/send.js"></script>
        <script src="js/login.js"></script>
</body>

<!-- Mirrored from nafplann.bulma-admin.dev/datatables by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2019 05:38:02 GMT -->

</html>