<!DOCTYPE html>
<html>

<!-- Mirrored from nafplann.bulma-admin.dev/datatables by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2019 05:38:01 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>

    <meta charset="UTF-8">
    <meta name="description" content="Free Admin Dashboard Template Build with Bulma.io By nafplann">
    <meta name="keywords" content="Bulma,CSS,Admin,Template,Free,Download">
    <meta name="language" content="en-EN">
    <meta name="author" content="Abdul Manaaf">

    <link href="https://fonts.googleapis.com/icon?family=Poppins" rel="stylesheet">
    <link rel="stylesheet"
        href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>

    <div class="my-main">
        <div class="my-container">
            <div class="title is-12 my-title">AUTHENTICATION</div>
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input type="text" class="input is-success" placeholder="Login" value="">
                    <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input type="password" class="input is-success" placeholder="Password" value="">
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="my-buttons">
                <button onclick="login()" class="button is-success">
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                    <span>Login</span>
                </button>
                <button onclick="clearInputs()" class="button is-danger is-outlined">
                    <span class="icon is-small">
                        <i class="fa fa-times"></i>
                    </span>
                    <span>Clear</span>
                </button>
            </div>
        </div>
    </div>

    <script src="js/login.js"></script>
</body>

<!-- Mirrored from nafplann.bulma-admin.dev/datatables by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2019 05:38:02 GMT -->

</html>